In [1]:
import pandas as pd

In [2]:
import psycopg2

In [9]:
pip install --upgrade pip

Requirement already satisfied: pip in /opt/conda/lib/python3.11/site-packages (21.3.1)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 1.9 MB/s
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.3.1
    Uninstalling pip-21.3.1:
      Successfully uninstalled pip-21.3.1
Successfully installed pip-24.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
! pip install psycopg2-binary

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.4 kB)
Using cached psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [3]:
conn_string = "host='db' dbname='postgres' user='postgres' password='POSTGRES'"

In [4]:
conn = psycopg2.connect(conn_string)

In [5]:
conn

In [6]:
cursor = conn.cursor()

In [17]:
# Строка подключения к базе данных
conn_string = "postgresql://postgres:POSTGRES@db:5432/postgres"

# Создание подключения к базе данных
engine = create_engine(conn_string)

# Чтение данных из CSV файла
df = pd.read_csv('wine.csv')

# Запись данных в базу данных
df_pg = df.to_sql('wine', engine, if_exists='replace', index=False)

In [18]:
df_pg

143

In [19]:
df_pg = pd.read_sql_query('select * from wine',con=engine)

In [20]:
df_pg

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [ ]:
pd.read_sql_query('select count(*) from wine',con=engine)

In [21]:
pd.read_sql_query('select count(*) from wine',con=engine)

   count
0   1143